@keyframes lefttoright {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }
  80% {
    transform: translate(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
@keyframes righttoleft {
  0% {
    opacity: 0;
    transform: translate(1rem);
  }
  80% {
    transform: translate(0);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
@keyframes BtntoUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #777777;
}

.title-first {
  color: #ffffff;
  font-family: "Lato", sans-serif;
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1px;
  animation-name: lefttoright;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-weight: 100;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  animation-name: righttoleft;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  margin-bottom: 65px;
}

.title-secondary {
  text-align: center;
  font-family: Lato;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgba(161, 79, 3, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%) no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s;
  backface-visibility: hidden;
}
.title-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.05);
  text-shadow: 0rem 0.4rem 0.4rem rgba(161, 79, 3, 0.25);
}

.title__about {
  color: #777;
  font-family: Lato;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2rem;
}

.section__text {
  color: #777;
  font-family: Lato;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}

.margin-left-right-10rem {
  margin-left: 10rem;
}

.wrapper__about {
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 1fr;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 5rem;
  background-color: white;
}

.container {
  background-color: #f7f7f7;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 5rem;
  color: #777777;
  background: white;
  border-radius: 5rem;
  transition: all 0.3s;
  position: relative;
  font-size: 2rem;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-2px);
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  z-index: -1;
  transition: all 0.4s;
}
.btn_animated {
  animation: BtntoUp 0.5s ease-out 0.7s;
  animation-fill-mode: backwards;
}

.button_text {
  padding: 1rem;
  border-bottom: 2 #A14F03 solid;
  display: inline-block;
  transition: all 0.3s;
}
.button_text:link, .button_text:visited {
  color: #777777;
  font-family: Lato;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2rem;
  text-decoration: none;
}
.button_text:hover {
  color: #A14F03;
  border-bottom: 1 #A14F03 solid;
  transform: scale(1.1);
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(161, 79, 3, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/header-background.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
.header__logo {
  position: absolute;
  margin-left: 5rem;
  margin-top: 5rem;
  height: 7rem;
  width: 5.6rem;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.section__blog {
  margin-bottom: 4.5rem;
}

.section__descr {
  margin-right: 5rem;
}

.section__about {
  padding-top: 8rem;
}/*# sourceMappingURL=style.css.map */